h1{
    text-indent: 10%;
}
div table{
   border-width:5px;  
   border-style:double;
   font-size: 25px;
}
table.a{
    
   margin-top: 10px;
}
td{
    border: 1px solid green;
    text-align: center;
}
tr{
    text-align: center;
    font-style: italic;
    word-spacing: 5px;
}
a{
    text-decoration: none;
}