table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
}
td, th {
    border: 1px solid #dddddd;
    color: green;
    font-family: "Arial";
    font-size: 20px;
    font-style: italic;
    padding: 8px;
}
p.b{
    border: solid;
    border-color: blue;
    margin: 0px 20px 0px 0px;
    letter-spacing: 20px;
    color: rgb(15, 240, 15);
}
a{
    text-decoration: none;
}